body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#content{
    position: relative;
    top: 70px;
}

#content img{
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 200ms;
}

#type1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: auto;
    gap: 55px;
    margin-bottom: 60px;
}

#type2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin: auto;
    gap: 50px;
    margin-bottom: 60px;
}

#left>p:nth-child(2), 
#left>p:nth-child(3),
#center>p:nth-child(2),
#center>p:nth-child(3),
#right>p:nth-child(2),
#right>p:nth-child(3){
    display: inline;
}

#left>p:nth-child(2),
#right>p:nth-child(2),
#center>p:nth-child(2) {
    font-weight: 200;
    margin-right: 20px;
}

#left>p:nth-child(3),
#right>p:nth-child(3),
#center>p:nth-child(3) {
    font-weight: 300;
}

#left>p:nth-child(4),
#right>p:nth-child(4),
#center>p:nth-child(4) {
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
}

#type1 button, #texttype button{
    display: block;
    margin-top: 20px;
    border: 0.5px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#type4{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

#type4 img{
    width: 79px;
    margin: 0px;
}

hr{
    width: 100%;
}

#cards_left{
    width: fit-content;
    display: flex;
    align-items: center;
}

#cards_right{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_content{
    display: flex;
}

#type4 p{
    font-size: 11px;
    margin: 0px;
}

#type4 h1{
    margin: 0px;
    font-size: 40px;
    font-weight: 300;
}

#cards_right p {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
}

#cards_right>p+p {
    font-family: 'Times New Roman', Times, serif;
}

#content img:hover{
    transform: scale(1.01);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#texttype h1{
    font-size: 95px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin: 0px;
}

#texttype h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 100;
    color: rgb(51, 51, 51);
    margin: 0px;
    margin-top: 40px;
}

#texttype{
    text-align: center;
    padding: 0px 40px;
    margin-bottom: 60px;
}

#texttype button{
    margin: auto;
    margin-top: 30px;
}

#texttype>div{
    padding: 0px 100px;
}

#footer img{
    width: 11px;
    margin-right: 5px;
}

#footer>.top{
    font-size: 11px;
    display: flex;
    width: 70%;    
    justify-content: space-between;
    margin: auto;
}

#footer>.bottom {
    font-size: 11px;
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;
}

#footer{
    padding-bottom: 30px;
}

.bottom>div>a, .top>div>a{
    text-decoration: none;
}

.bottom>div>a:hover, .top>div>a:hover{
    text-decoration: underline;
}

.bottom>div, .bottom>div>a{
    color: grey;
}

.top>div,
.top>div>a{
    color: black;
}

@media all and (max-width: 1192px){
    #type4{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 691px) {
    #type4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 583px) {
    #type4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (max-width: 810px) {
    #type1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (max-width: 810px) {
    #type2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (max-width: 1200px) {
    #texttype{
        padding: 0px 30px;
    }
    #texttype>div{
        padding: 0px 10px;
    }

    #texttype h1{
        font-size: 70px;
    }
        #texttype h2 {
            font-size: 50px;
        }
}