#navbar{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0px 45px;
}

#navbar img{
    height: 100%;
    width: 105px;
}

#navbar>a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

#logo{
    position: absolute;
    margin: auto;
    left: 0;
    right: 95px;
    z-index: 1;
    height: 100%;
    width: max-content;
}

#navbar>a>p:hover{
    text-decoration: underline;
}


